Package         Version
--------------- -------
cycler          0.10.0 
kiwisolver      1.0.1  
matplotlib      3.0.0  
numpy           1.15.1 
pip             18.0   
pyparsing       2.2.1  
PyQt5           5.11.2 
PyQt5-sip       4.19.12
python-dateutil 2.7.3  
setuptools      40.2.0 
six             1.11.0 
